interface={{ INTERFACE_WLAN }}
driver={{ DRIVER }}
ssid={{ SSID }}
hw_mode={{ HW_MODE }}
channel={{ CHANNEL }}
macaddr_acl={{ MACADDR_ACL }}
auth_algs={{ AUTH_ALGS }}
ignore_broadcast_ssid={{ IGNORE_BROADCAST_SSID }}
wpa={{ WPA }}
wpa_passphrase={{ WPA_PASSPHRASE }}
wpa_key_mgmt={{ WPA_KEY_MGMT }}
rsn_pairwise={{ RSN_PAIRWISE }}
